<html lang="en">
<head>
	<title>ContraNet - Home</title>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/contrabass.png') }}">
</head>
<body>
<div class="header">
    <img id="logo-image" src="{{ url_for('static', filename='img/contrabass.png') }}" alt="Contrabass icon" width="auto" height="64">
    <h1>ContraNet</h1>
</div>
<div class="content">
    <a href="instant_nerdle">Instant Nerdle</a><br>
    <a href="2048">Play 2048</a><br>
</div>
</body>
</html>
